@import '@/presentation/styles/main.scss';

.navigation {
  position: absolute;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 360px;
  height: 10vh;
  width: 100vw;
  background-color: $white;
  z-index: 1;

  a {
    all: unset;
    position: relative;
    font-size: 1rem;
    margin: 0px 3rem;
    cursor: pointer;
    color: $black;

    &:before {
      content: '';
      position: absolute;
      left: -20%;
      top: 120%;
      background-color: $primary;
      width: 0;
      height: 3px;
      transition: all 0.3s;
    }

    &:hover:before {
      width: 140%;
    }
  }

  button {
    position: relative;
    border-radius: 3px;
    color: $primary;
    background-color: transparent;
    border: 3px;
    border-style: solid;
    padding: 0.4rem 1.6rem;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      border-color: $primary;
      color: $white;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: $primary;
      width: 0;
      height: 100%;
      transition: all 0.3s;
      z-index: -1;
    }

    &:hover:before {
      width: 100%;
      color: $primary;
    }
  }

}