@import '@/presentation/styles/main.scss';

.navigation {
  @include responsive(desktop) {
    padding: 0 18rem;
  }

  position: absolute;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36rem;
  height: 8vh;
  width: 100vw;
  background-color: $white;
  z-index: 1;

  .image {
    max-width: 8rem;
    width: 50%;
    height: auto;
  }

  a {
    @include responsive(desktop) {
      margin: 0 1.2rem
    }

    all: unset;
    position: relative;
    font-size: 1.4rem;
    margin: 0 1.6rem;
    cursor: pointer;
    color: $black;


    &:before {
      content: '';
      position: absolute;
      left: -20%;
      top: 120%;
      background-color: $primary;
      width: 0;
      height: 3px;
      transition: all 0.3s;
    }

    &:hover:before {
      width: 140%;
    }

    &:hover {
      color: $primary;
    }
  }

  button {
    position: relative;
    border-radius: 3px;
    color: $primary;
    background-color: transparent;
    border: 3px;
    border-style: solid;
    padding: 0.4rem 1.6rem;
    min-width: 12.4rem;
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      border-color: $primary;
      color: $white;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: $primary;
      width: 0;
      height: 100%;
      transition: all 0.3s;
      z-index: -1;
    }

    &:hover:before {
      width: 100%;
      color: $primary;
    }
  }

}