@import '@/presentation/styles/main.scss';


.businesHistory {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 360px;
  height: 70vh;
  background-color: $black;
  color: $white;
  gap: 32px;

  h5 {
    margin-top: 8px;
    font-weight: 300;
  }
}