@import '@/presentation/styles/main.scss';


.businesHistory {
  @include padding() {}

  $height-phone: auto;
  $height-tablet-port : 60vh;
  $height-tablet-land: 70vh;
  $height-mini-desktop: 70vh;
  $height-desktop: 70vh;
  $height-big-desktop: 100vh;

  @include responsiveHeight($height-phone, $height-tablet-port, $height-tablet-land, $height-mini-desktop, $height-desktop, $height-big-desktop);

  @include responsive(phone) {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100vw;

  }

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36rem;
  height: 70vh;
  background-color: $black;
  color: $white;
  gap: 32px;

  .image {
    max-width: 59.2em;
    width: 50%;
    height: auto;
  }

  h5 {
    margin-top: 8px;
    font-weight: 300;
  }
}