@import '@/presentation/styles/main.scss';


.businesHistory {
  @include padding() {}

  @include responsive(phone) {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: auto;

  }

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36rem;
  height: 70vh;
  background-color: $black;
  color: $white;
  gap: 32px;

  .image {
    max-width: 59.2em;
    width: 50%;
    height: auto;
  }

  h5 {
    margin-top: 8px;
    font-weight: 300;
  }
}