@import '@/presentation/styles/main.scss';


.services {
  @include padding() {}

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 36rem;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  color: $black;

  .waveTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .title {
    text-align: center;
    margin-bottom: 3.2rem;

    span {
      font-weight: 300;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;

    .card {
      width: 300px;
      height: 288px;

      svg {
        width: 100%;
        max-width: 10em;
        height: auto;
      }

      h6 {
        font-weight: 300;
        text-align: justify;
      }
    }
  }

}