@import '@/presentation/styles/main.scss';


.services {
  @include padding() {}

  $height-phone: auto;
  $height-tablet-port : 70vh;
  $height-tablet-land: 80vh;
  $height-mini-desktop: 90vh;
  $height-desktop: 95vh;
  $height-big-desktop: 100vh;

  @include responsiveHeight($height-phone, $height-tablet-port, $height-tablet-land, $height-mini-desktop, $height-desktop, $height-big-desktop);

  @include responsive(phone) {
    flex-direction: column;
  }

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 36rem;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  color: $black;

  .waveTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .title {
    text-align: center;
    margin-bottom: 3.2rem;

    span {
      font-weight: 300;
    }
  }

  .cards {
    @include responsive(phone) {
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;

    .card {
      @include responsive(phone) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100vw;
        height: auto;

      }

      padding: 0.8rem;
      width: 300px;
      height: 288px;

      svg {
        width: 100%;
        max-width: 10em;
        height: auto;
      }

      h6 {
        font-weight: 300;
        text-align: justify;
      }
    }
  }

}