@import '@/presentation/styles/main.scss';


.shop {
  @include padding() {}

  $height-phone: auto;
  $height-tablet-port : 70vh;
  $height-tablet-land: 80vh;
  $height-mini-desktop: 80vh;
  $height-desktop: 90vh;
  $height-big-desktop: 100vh;

  @include responsiveHeight($height-phone, $height-tablet-port, $height-tablet-land, $height-mini-desktop, $height-desktop, $height-big-desktop);

  @include responsive(phone) {
    flex-direction: column;
    height: auto;
  }

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: top;
  flex-direction: column;
  height: 100vh;
  padding: 0 36rem;
  background-color: $white;
  color: $black;
  gap: 3.2rem;


  span {
    font-weight: 300;
  }

  .waveBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .title {
    text-align: center;
  }

  .cards {
    @include responsive(phone) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 0.8rem;
    width: 100%;
    gap: 1.6rem;

    .card {
      @include responsive(phone) {
        width: 35em;
      }

      width: 25rem;
      padding: 8px;
      border-top: 3px solid $primary;
      border-radius: 4px;
      box-shadow: 0 3px 6px #00000029,
      0 3px 6px #0000003b;

      .image {
        width: 100%;
      }

      h6 {
        @include responsive(phone) {
          display: none;
        }

        font-weight: 400;
        text-align: left;
        margin: 0.8rem 0.8rem;
      }

      .cardMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .cardIcon {
          @include responsive(phone) {
            display: none;
          }

          width: 30px;
          height: auto;
          color: $primary;
        }

        h6 {
          font-weight: 500;
        }

        button {
          @include responsive(phone) {
            width: 100%;
            font-size: 2rem;
          }

          color: $white;
          background-color: $primary;
          border: 3px solid $primary;
          border-radius: 4px;
          padding: 0.2rem 1.6rem;
          font-family: 'Poppins';
          font-size: 1.4rem;
          font-weight: 600;
          cursor: pointer;

        }
      }
    }
  }

}