@import '@/presentation/styles/main.scss';


.shop {
  @include padding() {}

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0 36rem;
  height: 100vh;
  background-color: $white;
  color: $black;
  gap: 3.2rem;


  span {
    font-weight: 300;
  }

  .waveBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;


    .card {
      width: 300px;
      padding: 8px;
      border-top: 3px solid $primary;
      border-radius: 4px;
      box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;

      .image {
        width: 100%;
      }

      h6 {
        font-weight: 400;
        text-align: left;
        margin: 0.8rem 0;
      }

      .cardMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .cardIcon {
          width: 30px;
          height: auto;
          color: $primary;
        }

        h6 {
          font-weight: 500;
        }

        button {
          color: $white;
          background-color: $primary;
          border: 3px solid $primary;
          border-radius: 4px;
          padding: 0.2rem 1.6rem;
          font-family: 'Poppins';
          font-size: 1rem;
          font-weight: 600;
          cursor: pointer;

        }
      }
    }
  }

}