@import '@/presentation/styles/main.scss';


.benefits {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 360px;
  background-color: $white;
  text-align: center;

  span {
    font-weight: 600;
    color: $primary;
  }

  .benefitsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    text-align: left;
    margin-left: 32px;

    h6 {
      font-weight: 300;
    }
  }


  .image {
    animation: floating 3s both infinite ease-in-out alternate;
  }

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }

    0% {
      transform: translateY(20px);
    }

    100% {
      transform: translateY(0px);
    }
  }

}