@import '@/presentation/styles/main.scss';


.benefits {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 360px;
  background-color: $white;
  color: $black;

  .title {
    text-align: center;
  }

  span {
    font-weight: 600;
    color: $primary;
  }

  .benefitsSection {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  h5 {
    font-weight: 300;
  }

  .showRight {
    @extend .benefitsSection;
    visibility: visible;
    animation: slide-in-right 1s forwards ease-out;
  }

  .showLeft {
    @extend .benefitsSection;
    visibility: visible;
    animation: slide-in-left 1s forwards ease-out;
  }
}


@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}