@import '@/presentation/styles/main.scss';


.benefits {
  @include padding() {}

  $height-phone: auto;
  $height-tablet-port : auto;
  $height-tablet-land: auto;
  $height-mini-desktop: auto;
  $height-desktop: auto;
  $height-big-desktop: auto;

  @include responsiveHeight($height-phone, $height-tablet-port, $height-tablet-land, $height-mini-desktop, $height-desktop, $height-big-desktop);


  @include responsive(desktop) {
    padding-top: 7.5rem;
  }

  @include responsive(tablet-land) {
    padding-top: 6rem;
  }

  @include responsive(tablet-port) {
    padding-top: 7rem;
  }

  @include responsive(phone) {
    padding-top: 7rem;
  }

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 36rem;
  background-color: $white;
  color: $black;
  width: 100%;

  .title {
    text-align: center;
  }

  span {
    font-weight: 600;
    color: $primary;
  }



  .benefitsSection {
    @include responsive(phone) {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      width: 100vw;
      height: auto;
    }

    visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    &:nth-last-child(2) {
      flex-direction: row-reverse;

      @include responsive(phone) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100vw;
        height: auto;
      }

    }


    .image {
      max-width: 592px;
      width: 50%;
      height: auto;
    }
  }

  techConsultation {
    background-color: yellow;
  }

  h5 {
    font-weight: 300;
  }

  .showRight {
    @extend .benefitsSection;
    visibility: visible;
    animation: slide-in-right 1s forwards ease-out;


  }

  .showLeft {
    @extend .benefitsSection;
    visibility: visible;
    animation: slide-in-left 1s forwards ease-out;
  }
}


@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}