@import '@/presentation/styles/main.scss';

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 360px;
  height: 90vh;
  background-color: $white;
  color: $black;

  .waveBottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }


  .title {
    animation: slide-in-left 1s forwards ease-out;

    h5,
    span {
      font-weight: 300;
    }
  }

  .image {
    animation: slide-in-right 1s forwards ease-out;

  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}