@import '@/presentation/styles/main.scss';


.footer {
  @include padding() {}

  $height-phone: 52vh;
  $height-tablet-port : 30vh;
  $height-tablet-land: 35vh;
  $height-mini-desktop: 35vh;
  $height-desktop: 40vh;
  $height-big-desktop: 40vh;

  @include responsiveHeight($height-phone, $height-tablet-port, $height-tablet-land, $height-mini-desktop, $height-desktop, $height-big-desktop);

  @include responsive(phone) {
    padding: 4rem 0 0 0;
    justify-content: flex-start;
  }

  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  padding: 0rem 36rem;
  width: 100vw;
  background-color: $white;
  color: $black;

  .waveTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .footerInfo {
    @include responsive(phone) {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    }

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 0.8rem;

    .footerColumn {
      @include responsive(phone) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
      }

      &:first-child {
        width: 30rem;

        @include responsive(phone) {
          width: 100%;
        }

      }

      h6 {
        @include responsive(phone) {
          text-align: center;
        }

        font-weight: 400;

      }

      .image {
        width: 50px;
        height: auto;
      }

      .footerRow {
        @include responsive(phone) {
          width: 100%;
          height: 5rem;
        }


        display: flex;
        align-items: center;
        justify-content: flex-start;

        h6 {
          width: 18rem;
          height: 30px;
          padding: 6.5px 0;
        }
      }

      .footerIcon {
        width: 30px;
        height: auto;
        padding: 3px;
        color: $white;
        background-color: $primary;
        border-radius: 50%;
        margin-right: 0.8rem;
        margin-top: 0.8rem;
        cursor: pointer;
      }
    }
  }

  .reference {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.6rem;

    h6 {
      font-weight: 300;
    }

    span {
      font-weight: 400;
    }

    a {
      all: unset;
      margin-left: 8px;
      color: $black;
      font-weight: 600;
      cursor: pointer;
    }
  }

}