@import '@/presentation/styles/main.scss';


.footer {
  @include padding() {}

  $height-phone: auto;
  $height-tablet-port : 30vh;
  $height-tablet-land: 35vh;
  $height-mini-desktop: 40vh;
  $height-desktop: 50vh;
  $height-big-desktop: 50vh;

  @include responsiveHeight($height-phone, $height-tablet-port, $height-tablet-land, $height-mini-desktop, $height-desktop, $height-big-desktop);

  @include responsive(phone) {
    flex-direction: column;
    gap: 1.6rem;
    height: auto;
  }

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 36rem;
  width: 100vw;
  height: 40vh;
  background-color: $white;
  color: $black;

  .waveTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .reference {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);

    h6 {
      font-weight: 300;
    }

    span {
      font-weight: 400;
    }

    a {
      all: unset;
      margin-left: 8px;
      color: $black;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .footerColumn {
    @include responsive(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: auto;
    }

    width: 300px;
    height: 100px;

    h6 {
      font-weight: 400;
      margin-bottom: 8px;
    }

    .image {
      width: 50px;
      height: auto;
    }

    .footerRow {
      @include responsive(phone) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
      }

      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
    }

    .footerIcon {
      width: 30px;
      height: auto;
      padding: 3px;
      color: $white;
      background-color: $primary;
      border-radius: 50%;
    }
  }

}